body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(2, 2, 2);
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.container {
  background-color: rgb(0, 0, 0);
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  color: white;
}

.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.navbar {
  background-color: black;
  overflow: hidden;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #ffffff;
  color: black;
}

@media only screen and (max-width: 600px) {
  .container {
      font-size: 14px;
  }

  .main-content {
      font-size: 14px;
  }

  .texto-do-slipknot {
      font-size: 14px;
  }

  .discografia {
      font-size: 14px;
  }
}
.slipknot-imagem {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.corey {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.jim {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.mick {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.sid {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.clown {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.craig {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.jay {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.alessandro {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.jay-2 {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: block;
}
.direitos, .minha-foto {
border-radius: 50%;
text-align: center;
height: 60px;
font-size: small;
}

